footer {
    background-color: #0F172A;
    padding: 11.2rem 0;

    #links-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 9.8rem;

        ol {
            h4 {
                color: #FFF;
                font-size: 20px;
                font-family: $font-1;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                margin-bottom: 2.4rem;
            }

            li {
                margin-bottom: 2.4rem;

                a {
                    color: #E4E4E7;
                    font-size: 16px;
                    font-family: $font-1;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;

                }
            }

        }

        .footer-img {
            display: flex;
            flex-direction: column;
            gap: 8px;


        }
      
    }

    #end-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
      

        p {
            color: #A1A1AA;
            font-size: 12.6px;
            font-family: $font-1;
            font-style: normal;
            font-weight: 400;
            line-height: 19.8px;
        }

        .footer-icons {
            display: flex;
            gap: 32px;

            .t {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #1E293B;

                i {
                    font-size: 20px;
                    color: #FFF;
                }
            }
        }
    }
    .lainers{
        width: 100%;
        border: 1px solid $color-13;
        margin-bottom: 3.2rem;
    }
}