@font-face {
    font-family: 'Rubik';
    src: url(../Fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url(../Fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.container{
    width: 128rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 4.8rem;
}
button{
    border: none;
    cursor: pointer;
}
body{
    overflow-x:hidden;
}
