// =====Navbar start=====
header {
    background-color: $color-12;
}
@mixin link {
    font-size: 1.8rem;
    font-family: $font-1;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: -0.054rem;
    color: $color-2;
}
nav {
    display: flex;
    justify-content: space-between;
    padding:5rem 0 3.1rem 0;
    align-items: center;
    margin:0 0 6.4rem 0;
    .nav-left {
        display: flex;
        gap: 6rem;
        align-items: center;

        .nav-log {
            display: flex;
            align-items: center;
            img {
                width: 5rem;
                height: 3.9rem;
                cursor: pointer;
            }
            p {
                font-family: $font-1;
                font-size: 3.5rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .nav-link {
            align-items: center;
            a {
                @include link;
            }
        }
    }
    .nav-right {
        display: flex;
        gap: 3.2rem;
        align-items: center;
        a {
            @include link;
        }
        button {
            color:$color-3;
            text-align: center;
            font-size: 1.8rem;
            font-family: $font-1;
            font-style: normal;
            font-weight: 500;
            line-height: 155%;
            letter-spacing: -0.018rem;
            padding: 1.6rem 4rem;
            border-radius: 1.6rem;
            background-color: $color-9;
        }
    }
}
// =====Navbar finish=====