$color-1:#000000;
$color-2:#434959;
$color-3:#FFFFFF;
$color-4:#2B2828;
$color-5:#505056;
$color-6:#FFF;
$color-7:#000;
$color-8:#0E1133;
$color-9:#007AFF;
$color-10:#9D9DBD;
$color-11:#A1A1AA;
$color-12:rgba(191, 217, 255, 0.5);
$color-13:#393939;
$color-14:#9FCDFF;
$color-15:#66A3FF;
$color-16:#1E293B;
$color-17:#393939;
$color-18:rgba(121, 177, 237, 0.5);
$color-19:rgba(57, 57, 57, 0.5);
$font-1:'Rubik';
$font-2:'SpaceGrotesk';